body {
  font-family: serif;
  cursor: pointer;
  background-color: #ffffff;
}

.store_home_link_text,
.bolywood_stores_link_text,
.Holywood_link_text,
.holywood_link_storey_text,.remove_underline {
  text-decoration: none;
  color: black;
}
.food_home {
  width: 650px;
  height: 450px;
  border-radius: 10px;
}
.food3 {
  width: 400px;
  height: 140px;
  margin-bottom: 5px;
  border-radius: 10px;
}
/* height:"150px",marginBottom:"5px",borderRadius:"10px" */
.fit {
  width: 400px;
  height: 130px;
  margin-bottom: 5px;
  border-radius: 10px;
  object-fit: cover;
}
.navlink {
  font-size: 28px;
  /* display: flex; */
  /* justify-content: center;
  justify-content: space-between;
  margin-bottom: 20px; */
  /* background-color: #61dafb; */
  /* padding: 15px; */
}
.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0px;
}
.the {
  font-size: 30px;
  transform: rotate(270deg);
}
.thesiren {
  display: flex;
}
.hamicon {
  width: 50px;
  height: 50px;
}
.icons {
  display: none;
}
.remove_underline {
  text-decoration: none;
  color: black;
}
/* .remove_underline:hover {
  background-color: #a4d0a4;
  padding: 10px;
  transition: 1s;
  border-radius: 10px;
} */

.home1_image {
  display: flex;
  justify-content: space-between;
}

.home2_image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.the_latest {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.the_latest_image {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.latest_article_box {
  display: flex;
  gap: 20px;
  border-top: 3px solid rgb(130, 129, 129);
  width: auto;
  height: 154px;
}
.latest_article_box_child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.the_latest_article_main {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  /* margin-bottom: 600px; */
}

.the_latest_article_child {
  /* border: 1px solid red; */
  width: 680px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
}
/* .article_heading{
  position:sticky;
  top: 10px;
} */
.avdertise {
  width: 300px;
  border: 1px solid rgb(128, 126, 126);
  height: auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
h3 {
  margin: 0px;
  display: inline;
  /* border-bottom: 3px solid rgb(128, 126, 126); */
  width: 300px;
}

/* img:hover {
  transform: scale(1.1);
  transition: 2s;
} */
img {
  border-radius: 5px;
  width: 350px;
  margin-top: 10px;
  height: 150px;
  object-fit: cover;
}
.latest_stories {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 550px; */
}
.latest_stories_box {
  display: flex;
  flex-direction: column;

  /* text-align: center; */
  /* border: 1px solid red; */
  width: 350px;
  /* height: 400px; */
}
.latest_stories_box h2 {
  margin: 0px;
}

.App {
  width: 1100px;
  margin: auto;
  /* border: 5px solid red; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.poster {
  display: flex;
  justify-content: center;
}
.move_details {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  font-size: 20px;
  width: 700px;
  margin: auto;
}
table tr td {
  padding: 8px;
}

.move_details th {
  text-align: left;
}
.main_move_div {
  /* border: 1px solid red; */
  width: 600px;
  margin: auto;
}
.papaya_main_div {
  width: 600px;
  margin: auto;
}
.papaya_sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.backbtn {
  font-size: 22px;
  padding: 10px 80px;
  border-radius: 50px;
  background-color: orange;
  color: #fdfdfd;
  font-weight: bold;
  border: 4px solid #c8c1c1;
  margin-left: 450px;
}
.backbtn_bank{
  font-size: 22px;
  padding: 10px 80px;
  border-radius: 50px;
  background-color: orange;
  color: #fdfdfd;
  font-weight: bold;
  border: 4px solid #c8c1c1;
  /* margin-left: 450px; */
  margin-left: 200px;
}
.backbtn_papaya{
  font-size: 22px;
  padding: 10px 80px;
  border-radius: 50px;
  background-color: orange;
  color: #fdfdfd;
  font-weight: bold;
  border: 4px solid #c8c1c1;
  margin-left: 450px;
}
.backbtn_navy,.backbtn_rahul,.backbtn_virat,.backbtn_upi,.backbtn_article{
  font-size: 22px;
  padding: 10px 80px;
  border-radius: 50px;
  background-color: orange;
  color: #fdfdfd;
  font-weight: bold;
  border: 4px solid #c8c1c1;
}

.backbtn:hover {
  transition: 1s;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.pathan {
  width: 650px;
  height: 450px;
  border-radius: 10px;
}
.hollywood {
  width: 400px;
  height: 140px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.fitness {
  width: 400px;
  height: 140px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.tech {
  width: 400px;
  height: 140px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.bolywood_home_image {
  width: 650px;
  height: 450px;
  border: 10px;
}
.holywood1_home_image {
  width: 400px;
  height: 140px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.mareval_home_image {
  width: 650px;
  height: 450px;
  border-radius: 10px;
}

.hft {
  width: 400px;
  height: 140px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.fitness_home_image {
  width: 400px;
}

.tech_home_image {
  width: 400px;
}
.Bolywood_latest_article_box_img {
  width: 250px;
  margin-top: 10px;
}
.tech_img_01 {
  width: 650px;
  height: 450px;
}
.tech_img_02 {
  width: 400px;
  height: 140px;
}
.food_the_latestarticle_img {
  width: 250px;
}
.javan_img {
  width: 600px;
  height: 300px;
}
.papaya_img {
  width: 600px;
  height: 300px;
}
.the_latest_Javan_img {
  width: 600px;
  height: 300px;
}
.Anushkha {
  width: 600px;
  height: 300px;
}
.manoj {
  width: 600px;
  height: 300px;
}
.dharavi {
  width: 600px;
  height: 300px;
}
.actres {
  width: 600px;
  height: 300px;
}
.Holy_img,
.holy_article_img,
.fitness_latest_img,
.fitness_article.img,
.tech_latest,
.tech_article,
.Food_latest,
.food_article {
  width: 600px;
  height: 300px;
}
.fitness_home {
  width: 650px;
  height: auto;
}

.footer {
  background-color: darkgray;
  text-align: center;
  padding: 10px;
  font-size: 22px;
  /* margin-bottom: 10px; */
}

/* hello  */

.copyright {
  font-size: 18px;
}
.food_latest_stories {
  margin-bottom: 50px;
}

.Signin {
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}
.Signin:hover {
  background-color: #a4d0a4;
  transition: 1s;
  color: white;
}

.signup {
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 18px;
  margin-left: 20px;
  background-color: transparent;
  cursor: pointer;
}
.signup:hover {
  background-color: #a4d0a4;
  transition: 1s;
  color: white;
}
.signin_signup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 200px;
  top: 25px;
  gap: 20px;
}
.input_signuppage {
  display: flex;
  flex-direction: column;
}

.Signuppage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
  /* background-color: yellow; */
}

.signin_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid rgb(137, 241, 137);
  width: 500px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin: auto;
  margin-bottom: 33px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.btn {
  padding: 15px 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}

.input {
  padding: 20px;
  width: 300px;
}
.profile {
  width: 60px;
  height: 60px;
}
.logout {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #a4d0a4;
  border: none;
  color: white;
  font-size: 12px;
}
.logout:hover {
  background-color: #6beb6b;
}
.login_register_btn {
  border-style: groove;
  border: 2px solid white;
  font-size: 22px;
  padding: 5px 20px;
  background-color: #6beb6b;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
.login_register_btn:hover {
  background-color: #077907;
  transition: 1s;
}
.user_icon ,.mobile_view_user_icon {
  width: 50px;
  height: 50px;
  stroke:#077907;
}
.user_name {
  display: inline-block;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.user_com {
  position: absolute;
  top: 0px;
  /* right: 900px; */
}
.toggle_btn {
  display: none;
}
.error_message_signuppage,
.error_message_signinpage {
  color: red;
}
ul {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
li{
  
  list-style-type: none;
}
.active{
  background-color: #a4d0a4;
  padding: 10px;
  border-radius: 5px;
}
.login{
  margin-bottom: 200px;
}
.img_thelatest{
 width: 300px;
 height: 200px;
}
.bone{
  height: 300px;
}
.fitness_1{
width: 400px;
}
.bolywood_thelatest_front{
width: 350px; 
height: 200px;
}
.holywood_thelatest{
  width: 350px;
  height: 200px;

}
.hollywood_thelatestarticle_image{
width: 300px;
height: 150px;
}
.home_latest_stories{
  display: flex;
  justify-content:space-between;
}
.bolywood_latest_stories{
  display: flex;
  justify-content:space-between;
}
.holywood_latest_stories{
  display: flex;
  justify-content: space-between;
}
.fitness_title{
  width: 200px;
}
.fitness_latest_stories{
  display: flex;
  justify-content: space-between;
}
.fitness_stories_img{
  width: 350px;
}
.article_heading{
  margin-top: 50px;
}
.Navigation2{
  display: none;
}
.user_name_text{
  font-size: 18px;
}
.logout_div{
font-size: 0px;
}

   .name_logout{
  font-size: 0px;
  background-color: gainsboro;
  padding: 9px;
  border-radius: 10px;
} 

.welcome{
  display: none;
}
@media only screen and (max-width: 600px) {
  .home1_image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pathan {
    width: 350px;
    height: 300px;
  }
  .bolywood_home_image {
    width: 350px;
    height: 300px;
  }
  .holywood_home_image {
    width: 350px;
  }
  .mareval_home_image {
    width: 350px;
    height: 300px;
    border-radius: 10px;
  }
  .fitness_home_image {
    width: 350px;
  }

  .tech_home_image {
    width: 350px;
  }
  .hft {
    width: 350px;
  }
  .navlink {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
  }

  .the_latest {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .avdertise {
    display: none;
  }
  .latest_article_box {
    height: auto;
    flex-direction: column;
    width: 350px;
    align-items: center;
    margin: auto;
  }
  .latest_stories {
    flex-direction: column;
    margin-top: 250px;
  }
  .icons {
    display: none;
  }
  .App {
    width: auto;
  }
  .article_heading {
    text-align: center;
    margin-top: 50px;
   
  }
  .hollywood {
    width: 350px;
  }
  .tech {
    width: 350px;
  }
  .fitness {
    width: 350px;
  }
  .img {
    width: 350px;
    height: 180px;
  }
  .the_latest_image {
    width: 350px;
    height: 400px;
  }
  .latest_stories {
    margin-top: 150px;
  }
  /* img:hover {
    transform: scale(1.1);
    transition: 2s;
  } */
  .logo {
    display: block;
  }
  .icon {
    justify-content: space-around;
  }

  .home_h1 {
    text-align: center;
  }
 .home_latest_stores_heading{
  text-align: center;
  position: relative;
  top: 380px
 }
  .icon {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
  }
  .icons {
    display: block;
  }
  .the_latest_image {
    height: 350px;
  }
  .fit {
    width: 350px;
  }
  .food_home {
    width: 380px;
    height: 300px;
  }
  .food3 {
    width: 350px;
  }
  p {
    font-size: 22px;
  }
  .holywood1_home_image {
    width: 350px;
  }

  .stores {
    margin-top: 200px;
  }
  .bolywood_the_latest_stories {
    margin-top: 580px;
    /* border: 5px solid red; */
  }
  .Bolywood_latest_article_box_img {
    width: 350px;
  }
  .latest_stories_box {
    height: auto;
  }

  .Hollywood_latest_stories {
    /* border: 5px solid red; */
    margin-top: 380px;
  }
  .tech_latest_stories {
    /* border: 8px solid red; */
    margin-top: 450px;
  }
  .tech_img_01 {
    width: 350px;
    height: 350px;
  }
  .tech_img_02 {
    width: 350px;
  }
  .food_latest_stories {
    /* border: 5px solid red; */
    margin-top: 800px;
  }
  .food_the_latestarticle_img {
    width: 350px;
    height: 250px;
  }
  .move_details {
    width: 380px;
  }
  .main_move_div {
    width: 350px;
  }
  .javan_img {
    width: 350px;
   
  }
  .backbtn {
    margin: 12px 90px;
  }
  .papaya_main_div {
    width: 350px;
  }
  .papaya_img {
    width: 350px;
  }
  .the_latest_Javan_img {
    width: 350px;
  }
  .Anushkha,
  .manoj {
    width: 350px;
  }
  .dharavi,
  .actres,
  .Holy_img {
    width: 350px;
  }
  .holy_article_img,
  .fitness_latest_img,
  .fitness_article.img,
  .fit,
  .tech_latest,
  .tech_article,
  .Food_latest,
  .food_article,
  .fitness_home {
    width: 350px;
    
  }
 
  .toggle_btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
  }
  .signin_signup {
    right: 150px;
    top: 15px;
  }

  .login_register_btn {
    font-size: 15px;
  }
  .login_register_btn {
    padding: 1px 35px;
  }
  .logout {
    font-size: 15px;
    padding: 3px 10px;
  }
  .profile {
    width: 30px;
    height: 30px;
  }
  .profile_logout {
    right: 125px;
    top: 62px;
    right: 15px;
    top: 65px;
  }

  .user_com {
    right: 100px;
  }
  .user_com {
    top: 0px;
    right: 230px;
  }
  .signin_page {
    width: 350px;
  }
  .input {
    padding: 18px;
    width: 170px;
  }
  .btn {
    padding: 10px 30px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 50px; */
  }
  .active{
    padding: 5px;
  }
  li{
    font-size: 18px;
  }
  /* .signin_signup{
  display: none;
  } */
  .home_latest_stories
{
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center
}

  /* .h1{
    position: relative;
    top: 370px;
} */
.hollywood_thelatestarticle_image{
  width: 350px;
  height: 200px;
}
.article_heading{
position: relative;
top: 0px;
}
img{
  width: 350px;
  height: 200px;
}
.bolywood_thelatest{
  text-align: center;
}
.bolywood_latest_stories_heading{
  text-align: center;
  position: relative;
  top: 150px;
}
.bolywood_latest_stories{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.holywood_thelatest_h1{
  text-align: center;
}
.hollywood_the_latest_stories_h1{
  text-align: center;
}
.Hollywood_latest_stories{
  margin-top: 750px;
}
.fitness_thelatest_h1{
  text-align: center;
}
.fitness_thelateststories_h1{
  text-align: center;
  position: relative;
  top: 700px;
}
.fitness_latest_stories{
  margin-top: 700px;
  display: flex;
  flex-direction: column;
  align-items: center
}
.img_thelatest{
width: 350px;
}
.fitness_stories_img{
  width: 350px;
}
.fitness_latestarticle{
  width: 350px;   
}
.holywood_latest_stories{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech_stores_h1{
  text-align:center;
  position: relative;
  top: 150px;
}
.food_stories{
  text-align: center;
  position: relative;
    top: -120px;
}
.food_latest{
  text-align: center;
}
.fitness_title{
width: 350px;
}
.icon {
display: flex;
justify-content:space-between;
}
.backbtn_papaya {
  margin-left:80px
}
.backbtn_bank,.backbtn_papaya,.backbtn_bank,.backbtn_papaya,.backbtn_bank,.backbtn_papaya,.backbtn_papaya   {
  margin-left: 80px;
}
.tiktok{
  width: 350px;
  height: 200px;
}
.Navigation1{
  display: none;
}
.Navigation2{
  display: block;
}
.logo{
  font-size: 25px;
} 
.the {
font-size: 25px;
}
.user_name_text
{
  font-size: 16px;
}
.user_com{
  display: none;
}
.user_name,.mobile_view_user_icon{
justify-content: center;
position: absolute;
    top: 10px;
    right: 80px;

}
.welcome{
  display: block;
}
.signin_signup{
flex-direction: column;
gap: 5px;
}
.login_register_btn {
  padding: 0px 10px;
}
.handle_hide1{
  display: none;
}


/* .name_logout{
  font-size: 0px;
  background-color: gainsboro;
  padding: 9px;
  border-radius: 10px;
} */
}
@media only screen and (min-width:700px) and (max-width:850px)
{
  .user_name {
    margin-left: 50rem;
  
}
.home1_image {
  justify-content: space-evenly;
}
.the_latest{
  justify-content: space-around;
}
img{
  width:300px
}
.the_latest_article_main{
  justify-content: space-around
}

.article_heading {
  margin-left: 70px;
}
.home_latest_stories{
  justify-content: space-evenly
}
.footer {
  width: 140%;
  /* position: relative;
  top: 40rem; */
}
h1{
  margin-left: 3.5rem
}
.bolywood_thelatest_front{
  width: 300px;
}
.signin_signup{
  right: -280px
}
.user_com {
  position: relative;
  top: 0px;
  /* right: 900px; */
}
ul{
  justify-content: space-evenly
}
}
/* @media screen and (max-width:600px) {
  
} */